*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}
/*--varibles--*/
:root{
    --space: 2rem;
    --main-color: #da6285;
    --pink-color:#ff8e9d;
    --pink-opacity:#ffe6e9;
    --white-alpha-40:rgba(255,255,255,0.40);
    --white-alpha-25:rgba(255,255,255,0.25);
    --background-filter:blur(5px);
    --box-shadow:2px 2px 5px rgba(0,0,0,0.40);
}
/*---global styling--*/

html{
    scroll-behavior: smooth;
}
.btn{
    background-color:var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
    color: var(--main-color);
    padding: .8rem 2rem;
    border-radius: 1.5rem;
    font-size: 20px;
    cursor: pointer;
    position: relative; 
    text-align: center;
}
.btn::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 30px;
    background-color: var(--main-color);
    z-index: -1;
    transition:width 0.3s ease;
}
.btn:hover::before{
 width: 100%;

}
.btn:hover{
    color:#fff;
}
.empty{
    background-color:var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
    color: var(--main-color);
    padding: 1.5rem;
    text-align: center;
    margin: 2rem auto;
    width: 50vw;
    border-radius: .5rem;
    line-height: 2;
}
.empty p{
    font-size: 20px;
}
input[type='submit']{
    cursor: pointer;
}
input[type='submit']:hover{
color:var(--main-color);
}
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    align-items:center;
}
.box-container .box{
    background-color:var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    margin: 1rem;
    border-radius: .5rem;
}
.heading{
    text-align: center;
    line-height:1.5;
}
.heading h1{
font-size: 2rem;
text-transform: capitalize;
}
.heading span{
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 16px;
}
.heading img{
    margin-top: .5rem;
    width: 150px !important;
}
.flex-btn{
    display: flex;
    justify-content:center;
}
.flex-btn .btn{
    margin: .5rem;
}
/*custom scroll bar*/
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    --webkit-border-radius:20px;
    border-radius: 20px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--pink-color);
    position: relative;
}
::-webkit-scrollbar-track{
    background-color: transparent;
    --webkit-border-radius:20px;
    border-radius: 20px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
}
/*form container*/
.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 4% 0;
    position: relative;
  
}
.form-container form{
    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
}
.form-container form .flex{
    display: flex;
    gap: 2rem;
}
.form-container form .flex .col{
    flex: 1 1 25rem;
}
.form-container .login{
    width:50rem ;
}
.form-container .register{
    width: 60rem;
}
.form-container .register.img-box{
    text-align: center;
    margin-top: 1rem;
}
.form-container .register .img-box img{
    width: 180px;
    height: 180px;
    border-radius: 50;
    text-align: center;
    padding: 10px;
    background-color: var(--main-color);
}
.form-container form h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--main-color);
    text-transform: capitalize;
    font-weight:bolder;
}
.form-container form p{
    padding-top: 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.form-container form p span{
    color:red;
}
.form-container form .link {
padding-bottom: 1rem;
font-size: 1.2rem;
text-transform: capitalize;
}
.form-container form .link a{
    color: var(--main-color);
}
.form-container form .link a:hover{
    color: var(--main-color);
    text-decoration: underline;
}
.form-container form .box{
    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    width: 100%;
    border-radius: .5rem;
    margin: .5rem 0;
    font-size: 1.3rem;
    padding: 1rem;
}
.form-container form textarea{
    height: 20rem;
    resize: none;
}
.form-container form .btn{
    width:100%;
    font-size: 1.3rem;
}
.form-container .image{
    width: 100%;
    height: 30rem;
}
.post-editor input[type="submit"]{
    width: 49%;
}
.banner{
    width: 100%;
    height: 80vh;
    background-image: url("../image/banner.jpg");
    background-position: center center;
    background-size: cover;
display: flex;
align-items: center;
}
.banner .detail{
    padding-left: 4%;
    color: gray;
    line-height: 1.5;

}
.banner .detail h1{
    text-transform: capitalize;
    color: #000;
}
.banner .detail p{
    font-size: 16px;
    margin-bottom: 1rem;
}
.banner .detail span{
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: 1rem;
}
.banner .detail span a{
    color: var(--main-color);

}
.banner .detail span i{
    margin: 0 1rem;
}
.header{
    padding: .5rem 4%;
    background-color:#fff ;
    box-shadow: 0px 5px 10px 0px #aaa;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header .flex{
    padding: .5rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .flex .search-form{
    width: 30rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;
    background-color: var(--pink-opacity);
}
.header .flex .search-form input{
    width: 100%;
    background: none;
    font-size: 1.1rem;
    box-shadow: none;
}
.header .flex .search-form button{
    font-size: 1.1rem;
    color: var(--main-color);
    cursor: pointer;
    background: none;
    box-shadow: none;
}
.header .flex .icons div,
.header a i{
    font-size: 2rem;
    color: var(--main-color);
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.4rem;
    text-align: center;
    margin-left: .5rem;
    cursor: pointer;
}
.header sup{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    top: 20%;
    color: #fff;
    line-height: 20px;
    margin-left:-1rem ;
    text-align: center;

}
#search-btn{
    display: none;
}
#menu-btn{
    display: none;
}
.profile-detail{
    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    position: absolute;
    top: 125%;
    right: 2rem;
    border-radius: .5rem;
    width: 22rem;
    padding: 1.5rem .5rem;
    animation: .2s linear fadeIn;
    text-align: center;
    overflow: hidden;
    display: none;

}
@keyframes fadeIn{
    0%{
        transform: translateY(1rem);
    }
}
.profile-detail.active{
    display: inline-block;
}

.profile-detail h3{
    padding-bottom: .7rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #000;    
}
.profile-detail .flex-btn{
    display: flex;
    justify-content: space-evenly;
}
.profile-detail .flex-btn .btn{
    margin: 0 .5rem;
}
.profile-detail img{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    padding: .5rem;
    object-fit: cover;
    margin-bottom: .5rem;
    background-color: var(--main-color);
}
.header .navbar{
    display: flex;
    margin: .5rem 0;
}
.header .navbar a{
font-size: 1.3rem;
margin: 0 .5rem;
text-transform: capitalize;
color: #000;
}
.header .navbar a:hover{
    color: var(--main-color);
}
@media (max-width:991px){
    #search-btn,
    #menu-btn{
        display: inline-block;
    }
    .header .flex .search-form{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        width: auto;
        border-top:1px solid #ccc ;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        clip-path:polygon(0 0,100% 0,100% 0,0 0) ;
        transition: .2s linear;
    }
    .header .flex .search-form.active{
        clip-path:polygon(0 0,100% 0,100% 100%,0 100%) ;
    }
    .header .flex .navbar{
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        border-top: .1rem solid #fff3;
        padding: 1rem 2rem;
        clip-path:polygon(0 0,100% 0,100% 0,0 0) ;
        transition: .5s;
    }
    .header .flex .navbar.active{
        clip-path:polygon(0 0,100% 0,100% 100%,0 100%) ;
    }
    .header .flex .navbar a{
        display: block;
        margin: 1.5rem 0;
        padding: 1rem;
        background-color: var(--main-color);
        text-align: center;
        border-radius: .5rem;
        color: #fff;
    }
    .header .flex .navbar a:hover{
        color: #000;
    }
    .divider{
        display: none;
    }
    .usage .row{
        flex-flow: column;
    }
}
@media (max-width:768px){
    .header{
        padding: 1rem 0;
    }
    .header .icons div{
        width: 2rem;
        height: 2rem;
    }
    .textBox h1{
        font-size: 2rem;
    }
    .form-container .register,
    .form-container .login{
        width: 95%;
    }
}
.slider-container{
    position: relative;
    width: 100%;
    min-height: 110vh;
    margin-bottom: 5rem;  
}
.slider-container .slideBox{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s;
}
.slider-container .slideBox.active{
    opacity: 1;
}
.slider-container .textBox{
    position: absolute;
    top: 30%;
    left: 5%;
    text-align: center;
}
.slider-container .imgBox img{
    width: 100%;
    height: 110vh;
}
.slider-container .textBox h1{
    font-size: 3rem;
    color: #000; 
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.slider-container .textBox p{
    font-size: 16px;
    margin-bottom: 2rem;
}
.slider-container .controls{
    position: absolute;
    top: 38%;
    right: 0;
}
.slider-container .controls li{
    position: relative;
    width: 60px;
    height: 60px;
 list-style: none;
 cursor: pointer;
 display: flex;
 justify-content: center;
 align-items: center;
}
.slider-container .controls i{
    font-size: 2rem;

}
.categories{
    padding: 6%;
}
.categories .box-container{
    padding-top: 3%;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
}
.categories .box-container .box{
    background-color:var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    padding: .4rem;
    margin: .4rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}
.categories .box-container .box:hover img{
    transform: scale(1.1);
}
.categories .box-container .box img{
    width: 100%;
    transition: .5s;

}
.categories .box-container .box a{
    position: absolute;
bottom: 1rem;
left: 1rem;
z-index: 11;
width: 90%;
text-align: center;
margin: 1rem auto;
font-size: 1.5rem;
color: #000;
}
.ice-container .detail .btn{
    background-color:#000;
 }
 .flavor .box-container{
    background-color: var(--pink-opacity);
 }
 .flavor .box-container img{
    width: 100%;
 }
 .flavor .box-container .detail{
    text-align: center;
    line-height: 1.5;
    padding: 2rem 0;
 }
 .flavor .box-container .detail h1{
    font-size: 3rem;
 }
 .flavor .box-container .detail h1 span{
    color: var(--main-color);
 }
 .flavor .box-container .detail p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
 }
 .usage{
    background-image: url("../image/bn.png");
    background-repeat: no-repeat;
    background-size:cover;
background-position: center center;
background-attachment: fixed;
padding: 4%;
 }
 .usage .row{
    display: flex;
    align-items: center;
 }
 .usage .row .divider{
    padding: 1rem;
    width: 30%;
 }
 .usage .row .box-container .box{
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem;
    align-items: center;
    background-color:var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
 }
 .usage .row .box-container .box img{
    width: 70px;
    height: 70px;
    margin-left: .4rem;
 }
 .usage .row .box-container .box h3{
    font-size: 1.5rem;
 }
 .usage .row .box-container .box{
    color: #666;
    padding: 1rem 0;
    font-size: 1.1rem;
 }
 .usage .row .box-container:first-child{
    text-align: right;
 } 
 .pride{
    background-image: url(../image/ice-creem-banner-bg.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 80px 0 80px 0;
padding: 220px 0 273px;
display: flex;
align-items: center;
justify-content:flex-end;
text-align: center;

}
.newsletter{
    background-image: url('../image/bn3.3.webp');
    padding-top: 70px;
 padding-bottom: 100px;
 background-size: cover ;
background-attachment: fixed;
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
line-height: 1.5;
min-height: 100vh;
text-align: center;
}
.newsletter span{
    font-size: 1rem;
    background-color: var(--pink-opacity);
    color: var(--main-color);
    text-transform: uppercase;
    border-radius: 15px;
    padding: .5rem 1rem;
}
.newsletter h1{
    font-size: 2.5rem;
    margin: .5rem;
    text-transform: capitalize;
}
.newsletter.input-field{
    margin: 1.5rem 0;
 }
.newsletter input{
    padding: 1rem;
    border-radius: 10px;
    width: 30vw;
    background-color: var(--pink-opacity);
}
.newsletter .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
}
.newsletter .box-container .box1{
    background-color: var(--pink-opacity);
    box-shadow: var(--box-shadow);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    margin: 1rem;
    padding: 2rem 4rem;
    border-radius: 10px;
}
.newsletter .box-container .box-counter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.newsletter .box-container .box-counter .counter,
.newsletter .box-container .box-counter i{
    color: #000;
    font-size: 3rem;
}
.newsletter .box-container h3{
    padding: .5rem;
    font-size: 1.5rem;
    color: var(--main-color);
}
.newsletter p{
    font-size: 1.1rem;
    color: gray;
}
footer{
    background-image: url("../image/footer-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
background-position: center;
padding: 259px 0 0;
width: 100%;
}
footer .content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    align-items: center;
    justify-content: center;
 }
 footer .content .box1{
    margin: 1rem;
    line-height: 1.7;
 }
 footer .content .box1 .btn{
    text-align: center;
    padding: .5rem;
 }
 footer .content .box1 .btn:hover{
    color: #fff;
 }
 footer .content .box1 h3{
    text-transform: capitalize;
    margin-bottom: .5rem;
 }
 footer .content .box1 a{
    font-size: 16px;
    display: block;
    color: #000;
    text-transform: capitalize;
 }
 footer .content .box1 a:hover{
    color: var(--main-color);
 }
 footer .content .box1 i{
    margin-right: .5rem;
 }
 footer .content .box1 p{
    line-height: 1.5;
 }
 footer .content .box1 .icons{
    margin-top: 1rem;
 }
 footer .content .box1 .icons i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--pink-opacity);
    border: 1px solid var(--main-color);
    color: var(--main-color);
    cursor: pointer;
 }
 footer .bottom{
 margin-top: 2rem;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 padding: 2rem;
 border-top: 1px solid #000;
 line-height: 2;
 }
 footer .bottom a{
    text-transform: capitalize;
    color: #000;
 }
 .chef{
    padding-left: 4%;
 }
 .chef .box{
    line-height: 1.5;
    text-align: center;
    box-shadow: none;
 }
 .chef .box .img{
    width: 70%;
    margin-bottom: -2rem;
 }
 .chef .box p{
    font-size: 1.3rem;
    color: #666;
    margin-bottom: 2rem;
 }
 .story{
    background-image: url('../image/about_bg.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    line-height: 1.5;
 }
 .story p{
    padding-bottom: 2rem;
    color: gray;
 }
 .container{
    padding: 4%;
    padding-bottom:0 ;
 }
 .container .box-container .img-box{
    margin: 1rem;
 } 
 .container .box-container .img-box img{
    background-image: url('../image/shap.png');
    background-size: contain;
    width: 80%;
    margin-bottom: -1.1rem;
 }
 .container .box-container .box{
    text-align: center;
    line-height: 2;
    box-shadow: none;

 }
 .container .box-container p{
    color: #666;
    font-size: 16px;
    margin-bottom: 2rem;
 }
.standers{
    background-image: url('../image/std.jpg');
    padding: 135px 0 210px;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    text-align: center;
    line-height: 1.5;
    padding-left: 6%;
}
.standers p{
    font-size: 1.6rem;
    color: #666;
    padding-bottom: .5rem;

}
.standers i{
    font-size: 2rem;
    color: var(--main-color);
}
.profile{
    padding: 5% 8%;
}
.profile .details{
    border-radius: .5rem;
     padding: 2rem;
     box-shadow: var(--box-shadow);
     text-transform: capitalize;
     margin-top: 2rem;
}
.profile .details .user{
    text-align: center;
    margin-bottom: 2rem;
    align-items: center;
    padding: .5rem;
}
.profile .details .user img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
    padding: .5rem;
    background-color: var(--main-color);
}
.profile .details .user h3{
    font-size: 2rem;
    margin: .5rem 0;
}
.profile .details .user p{
    font-size: 1.7rem;
    color: gray;
    margin-bottom: 2rem;
}
.profile .details .box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1.5rem;
}
.profile .details .box-container .box{
    background-color: #cccccc99;
    border-radius: .5rem;
    padding: 1.5rem 2rem;
    flex: 1 1 20rem;
}
.profile .details .box-container .box .flex{
    display: flex;
    align-items: center;
    gap: 1.7rem;
    margin-bottom: 1rem;
}
.profile .details .box-container .box i{
    font-size: 1.5rem;
}
.profile .details .box-container .box .flex h3{
    font-size: 1.5rem;
    color: var(--main-color);
    margin-bottom: .2rem;
}
.profile .details .box-container .box .flex span{
    font-size: 1.5rem;
    color: lightgray;
}
.cart-total{
    text-align: center;
    padding: 4%;
    margin: 2rem;
    box-shadow: var(--box-shadow);
}
.cart-total p{
    font-size: 1.5rem;
    margin: 2rem 0;
    text-transform: capitalize;
}
.cart-total p span{
    color: var(--main-color);
    font-size: 2rem;
    font-weight: bold;
}
.cart-total .button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-total .btn{
    margin: .5rem;
}
